<div>
  <h2>Fugirana Sample App</h2>
  <p>Pretty basic place where to test the ng-furigana project</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4 class="mb-3">Example without ng-furigana</h4>
      <div class="p-2">
        <h6>Example #1</h6>
        <div>
          <ruby>
            明日
            <rp>(</rp>
            <rt>Ashita</rt>
            <rp>)</rp>
          </ruby>
        </div>
      </div>
      <div class="p-2">
        <h6>Example #2</h6>
        <div>
            <ruby>
              明日
              <rp>(</rp>
              <rt>あした</rt>
              <rp>)</rp>
            </ruby>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h4 class="mb-3">Example with ng-furigana</h4>
      <div class="p-2">
        <h6>Example #1</h6>
        <div ngFurigana="Ashita">明日</div>
      </div>
      <div class="p-2">
        <h6>Example #2</h6>
        <div ngFurigana="あした">明日</div>
      </div>
    </div>
  </div>
</div>