<div class="title">
  <h2>Fugirana Sample App</h2>
  <div class="description">
    Pretty basic place where to test the ng-furigana project
  </div>
</div>
<div class="container">

    <div *ngIf="false" class="card m-2">
        <div class="card-header">
          <span class="mr-3">Development</span>
          <span class="description">Should not show in case it isn't a span element</span>
        </div>
        <div class="card-body">
          <div class="card-title row">
            <div class="col">Code</div>
            <div class="col">Result</div>
          </div>
          <div class="card-text row">
            <div class="col"></div>
            <div class="col">
              <span ngFurigana="あした">明日</span>
            </div>
          </div>
        </div>
      </div>

  <div class="card m-2">
    <div class="card-header">
      <span class="mr-3">Example #1</span>
      <span class="description">Latin letters above japanese symbols</span>
    </div>
    <div class="card-body">
      <div class="card-title row">
        <div class="col">Code</div>
        <div class="col">Result</div>
      </div>
      <div class="card-text row">
        <div class="col">
            <pre>
              &lt;span ngFurigana="Ashita"&gt;明日&lt;/span&gt;
            </pre>
        </div>
        <div class="col">
          <span ngFurigana="Ashita">明日</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-2">
    <div class="card-header">
      <span class="mr-3">Example #2</span>
      <span class="description">Furigana above kanji</span>
    </div>
    <div class="card-body">
      <div class="card-title row">
        <div class="col">Code</div>
        <div class="col">Result</div>
      </div>
      <div class="card-text row fs-120">
        <div class="col">
            <pre>
                &lt;span ngFurigana="あした"&gt;明日&lt;/span&gt;
            </pre>
        </div>
        <div class="col">
          <span ngFurigana="あした">明日</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-2">
    <div class="card-header">
      <span class="mr-3">Example #3</span>
      <span class="description">Like #2, but orientation in vertical</span>
    </div>
    <div class="card-body">
      <div class="card-title row">
        <div class="col">Code</div>
        <div class="col">Result</div>
      </div>
      <div class="card-text row">
        <div class="col">
            <pre>
                &lt;span class="vertical" ngFurigana="あした"&gt;明日&lt;/span&gt;

                &lt;style&gt;
                  .vertical &#x0007B;
                    text-orientation: upright&quot;
                    writing-mode: vertical-rl&quot;
                  &#x0007D;
                &lt;/style&gt;
            </pre>
        </div>
        <div class="col">
          <span class="vertical" ngFurigana="あした">明日</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="false" class="card m-2">
    <div class="card-header">
      <span class="mr-3">Example #4</span>
      <span class="description">Separate CSS classes</span>
    </div>
    <div class="card-body">
      <div class="card-title row">
        <div class="col">Code</div>
        <div class="col">Result</div>
      </div>
      <div class="card-text row">
        <div class="col">
          <pre>
              &lt;span class="vertical" ngFurigana="あした"&gt;明日&lt;/span&gt;
          </pre>
        </div>
        <div class="col">
          <span class="vertical" ngFurigana="あした">明日</span>
        </div>
      </div>
    </div>
  </div>
</div>